.container, .container .row {
    margin-top: 2%;
}

html {
    font-family: 'Quicksand', sans-serif;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.containerH {
  position: relative;
  width: 99%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
}

.containerH:hover .overlay {
  opacity: 1;
}

.containerH:hover img {
  opacity: 0.5;
  transition: .5s ease;
}

.imgP:hover {
  opacity: 0.625;
  transition: .5s ease;
}

.text {
  color: white;
  font-size: 240%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}